<h1>Editing <%= @person.first_name.titleize %> <%= @person.last_name.titleize %> </h1>
<br>


<h3>Flash message</h3>
<p id="notice"><%= notice %></p>
<br>


<%= render partial: 'form', :locals => {person: @person, :submit_button_label => 'Update the person'} %>


<h2>Actions</h2>
<%= link_to 'Cancel', people_path %>
<br>