<h2>Navigation</h2>
<%= link_to 'Home', root_path %>
<%= link_to 'Event tracker', people_path %> | 
<br>


<h2>Flash</h2>
<p id="notice"><%= notice %></p>
<br>


<h1><%= @person.first_name.titleize %> <%= @person.last_name.titleize %> </h1>


<h2>Events</h2>
<%= link_to 'New event', new_person_event_path(@person) %> 


<br>

<h2>Actions</h2>
<%= link_to 'Edit person', edit_person_path(@person) %> | 
<%= link_to 'Delete person', person_path(@person), method: :delete, data: { confirm: "Are you sure you want to delete the person?" } %> | 


<h3>Footer</h3>
Created by Nik at 2021-05-31 13:45
Last updated by Nik at 2021-06-01 09:00
