<h2>Navigation</h2>
<%= link_to 'Home', root_path %>
<%= link_to 'Event tracker', people_path %> 
<br>


<h1><%= @person.first_name.titleize %> <%= @person.last_name.titleize %></h1>
<br>


<h3>Flash message</h3>
<p id="notice"><%= notice %></p>
<br>


<h2>Events</h2>
<% if @person.events.empty? %>
    <h4 id="no-events">No events have been created for this person</h4>
<% else %>
    <% @person.events.each do |event| %>
     <p><%= link_to "#{event.title}", person_event_path(@person, event) %> <%= event.year.to_s + "-" + format('%02i', event.month) + "-" + format('%02i', event.day)%>    </p>
    <% end %>
<% end %>

<%= link_to 'New event', new_person_event_path(@person) %> 
<br>


<h2>Actions</h2>
<%= link_to 'Edit person', edit_person_path(@person) %> | 
<%= link_to 'Delete person', person_path(@person), method: :delete, data: { confirm: "Are you sure you want to delete the person?" } %> | 
<%= link_to 'Back', people_path %>
<br>


<h3>Footer</h3>
Created by Nik at 2021-05-31 13:45
Last updated by Nik at 2021-06-01 09:00
