<p id="notice"><%= notice %></p>

<h1><%= @event.title %> </h1>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.year.to_s + "-" + format('%02i', @event.month) + "-" + format('%02i', @event.day)%>
</p>


<%= link_to 'Edit event', edit_person_event_path(@event) %> | <%= link_to "Delete event", person_event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete the event?" } %> | <%= link_to 'Back', person_events_path(@person) %> | <%= link_to "Home", root_path %>
